 <html>
     <head>

     </head>
     <body>
        <h1>ERROR 404: PAGE NOT FOUND</h1>

        <h3> <a href = "/"> Click Here </a> to return to home and try again</h3>

        <br>

        <p> Use the Navigation Bar across the top of the page to access our two functions: "Get Top Activity by Age" and "Compare".
            <br><br>
            On both pages, enter an age between 15 and 80. The "Compare" page also requires users to input an activity. 
            <br><br>
            Further information on valid activities can be found on the "Find Activities" tab on the Navigation Bar. 
            <br><br>
            You can return to the Homepage at any time by using the navigation bar found across the top of all pages. 

        </p>
    

     </body>
 </html>