<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
    <title>{{title}}</title>
</head>

<body>
    <h1>  {{title}} </h1>

    <nav>
        <ul>
            <li> <a href="/"> Home </a></li>
            <li> <a href="/get_top?option=get_top_by_age"> Get Top Activity By Age </a></li>
            <li> <a href="/compare?option=compare_activity_for_age"> Compare </a></li>
            <li> <a href="/find_activities?option=get_activities_results"> Find Activities</a> 
            </a> </li>
        </ul>
    </nav>

    <h2> About Our Data: </h2>
    <p> 
        This website is based on the American Time Use Survey (ATUS) data from the Bureau of
        Labor Statistics.

        <br> <br>
        The ATUS is a survey that collects data on how people in the United
        States spend their time.
    
    </p>

</body>

</html>