<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
    <title>{{title}}</title>
</head>

<body>
    <h1>{{title}}</h1>

    <nav>
        <ul>
            <li> <a href="/"> Home </a></li>
            <li> <a href="/get_top?option=get_top_by_age"> Get Top Activity By Age </a></li>
            <li> <a href="/compare?option=compare_activity_for_age"> Compare </a></li>
            <li> <a href="/find_activities?option=get_activities_results"> Find Activities
                </a> </a> </li>
        </ul>
    </nav>
    <p> Have you ever wondered how much time on average a person of your age spent doing Laundry
        10 years ago? What about Playing baseball?
        <br><br>
        Fill out this form to find out!
    <p>

    <h2> Select Age and Activity of Interest </h2>

    <form action="/show_compare" method="get">
        <!-- Age -->
        <label for="age"> <strong> Enter age (15 to 80): </strong></label>
        <input type="text" id="age" name="age" required>

        <br><br>
        <!-- Activity -->
        <p>Suggestions: <span id="txtHint"></span></p>

        <label for="activity"> <strong> Choose an Activity: </strong></label>
        <input type="text" id="activity" name="activity"> 
        
        <!-- add this: required onkeyup="showHint(this.value)" to the end of input -->

        <p>Need help choosing an activity? Checkout our Activity Searcher feature:
            <a href="/find_activities?option=get_activities_results"> <u>Find Activities </u></a>
        </p>

        <!-- call compare_suggestions.js -->
    
        <br>
        <input type="submit" value="Submit">
    </form>


</body>

</html>