<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
    <title>{{ title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <h1>Compare Results</h1>
    <nav>
        <ul>
            <li> <a href="/"> Home </a></li>
            <li> <a href="/about?option=about_page"> About </a> </li>
            <li> <a href="/get_top?option=get_top_by_age"> Get Top Activity By Age </a></li>
            <li> <a href="/compare?option=compare_activity_for_age"> Compare </a></li>
            <li> <a href="/find_activities?option=get_activities_results"> Find Activities</a> </li>
        </ul>
    </nav>

    <h3> People aged {{age}} engaged in {{activity}} on average {{hours_0}} hours in
        2022 & 2023 and {{hours_1}} hours in 2012 & 2013
    </h3>

    <!-- Then Generate a  bar graph-->

    <div id="compare-data"></div>

    <canvas id="CompareChart" width="400" height="200"></canvas>

    <script>
        const compareData = {
            age: "{{ age }}",
            activity: "{{ activity }}",
            hours_0: "{{ hours_2223}}",
            hours_1: "{{ hours_1213 }}"
        };

    </script>

    <script src="{{ url_for('static', filename= 'compare_chart.js') }}"></script>

    <!-- add alt text -->

    <button><a href="/compare?option=compare_activity_for_age"> &larr; Compare Another</a></button>
    <div class="footer">CS 257 Software Design Team D

    </div>
</body>

</html>