<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>

    <nav>
        <ul>
            <li> <a href = "/"> Home </a></li>
            <li> <a href = "/get_top?option=get_top_by_age"> Get Top Activity By Age </a></li>
            <li> <a href = "/compare?option=compare_activity_for_age"> Compare </a></li>
            <li> <a href = "/find_activities?option=get_activities_results"> Find Activities</a> </a> </li>
        </ul>
    </nav>

    <h2> Select Age, Activity, and Years of Interest </h2>

    <form action="/show_compare" method="get">
        <!-- Age -->
        <label for="age"> <strong> Enter age (15 to 80): </strong></label>
        <input type="text" id="age" name="age" required>
        
        <br><br>
        <!-- Activity -->
        <label for="activity"> <strong> Choose an Activity: </strong></label>
        <input type="text" id="activity" name="activity" required>

        <p>Need help chooseing an activity? Checkout our Activity Searcher feature: 
        <a href = "/find_activities?option=get_activities_results"> Find Activities </a> </p>

        <br>
        <!-- Years -->

        <p> <b> choose 2 years to compare: </b></p>

        <input type="checkbox" id="years1" name="years1" value="2022-23">
        <label for="years1"> 2022-23</label><br>
        <input type="checkbox" id="years2" name="years2" value="2012-13">
        <label for="years2"> 2012-13</label>
        
        <br><br>
        <input type="submit" value="Submit">
    </form>
    
    
</body>
</html>