 <html>
     <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
        <title>{{title}}</title>
     </head>

     <body>
        <h1>Welcome to the {{title}} for Time Use Survey!</h1>

        <nav>
            <ul>
                <li> <a href = "/"> Home </a></li>
                <li> <a href = "/get_top?option=get_top_by_age"> Get Top Activity By Age </a></li>
            </ul>
        </nav>

        <p> Here is where there would be a descriptive text idk </p>

     </body>
 </html>