<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
    <title>{{title}}</title>
</head>

<body>
    <h1> The Hobby Clock</h1>

    <nav>
        <ul>
            <li> <a href="/"> Home </a></li>
            <li> <a href="/get_top?option=get_top_by_age"> Get Top Activity By Age </a></li>
            <li> <a href="/compare?option=compare_activity_for_age"> Compare </a></li>
            <li> <a href="/find_activities?option=get_activities_results"> Find Activities</a> </li>
            <li> <a href="/about?option=about_page"> About </a> </li>
        </ul>
    </nav>

    <h2> Welcome to The Hobby Clock! </h2>
    <h3> Here is a list of things you can do:
        <ul>
            <li > You can find out the top 3 activities for a certain age for the year 2022-23 </li>
                <br>
            <li> You can also compare the amount of time spent doing an activity for an age across a decade.</li> 
                <br>
        </ul>   

        Further information on available data can be found on the <a href="/find_activities?option=get_activities_results"> <u> "Find Activities"</u></a>  page.
        <br><br>
        
        To learn more about our data, please visit our <a href="/about?option=about_page"> <u> "About" </u> </a>page
    </h3>

    <form>
        <button><a href="/get_top?option=get_top_by_age"> <u> Find Top Activities By Age! </u></a></button>
        <button><a href="/compare?option=compare_activity_for_age"><u> Start Comparing! </u></a></button>
    </form>

    <small>
        <div class="footer"> CS 257 Software Design Team D

        </div> 
    </small>
</body>

</html>